<div class="container">
  <app-back-button></app-back-button>
  <div class="card-wrapper" *ngIf="userData">
    <app-detail-card
      [firstName]="userData.firstName"
      [lastName]="userData.lastName"
      [email]="userData.email"
      [phoneNumber]="userData.phoneNumber"
      [job]="userData.job"
      [postalAddress]="userData.postalAddress"
      [editComponent]="collaboratorDialogComponent"
      (entityUpdated)="refreshCollaborator()"
      [data]="userData"
    ></app-detail-card>
  </div>
</div>