<div class="navbar">
  <div class="navbar-left">
    <img src="assets/images/logos/staffme-logo.png" alt="Logo" class="logo">
  </div>
  <div class="navbar-right">
    <button class="menu-button" (click)="toggleNav()">
      <img *ngIf="!showMobileMenu" src="assets/images/icons/main-menu-icon.svg" alt="Menu">
      <img *ngIf="showMobileMenu" src="assets/images/icons/main-close-icon.svg" alt="Fermer">
    </button>
  </div>
</div>

<div class="mobile-menu-dialog" [ngClass]="{'open': showMobileMenu}">
  <ul class="mobile-nav-list">
    <li><a href="/dashboard">Tableau de bord</a></li>
    <li><a href="/projects">Projets</a></li>
    <li><a href="/teams">Équipes</a></li>
    <li><a href="/collaborators">Collaborateurs</a></li>
  </ul>
</div>

<div class="sidenav-container">
  <div class="sidenav">
    <div class="toolbar">
      <img src="assets/images/logos/staffme-logo.png" alt="Logo" class="logo">
    </div>
    <ul class="nav-list">
      <li><a href="/dashboard">Tableau de bord</a></li>
      <li><a href="/projects">Projets</a></li>
      <li><a href="/teams">Équipes</a></li>
      <li><a href="/collaborators">Collaborateurs</a></li>
    </ul>
  </div>
</div>