<div class="modal-container">
  <h2>Créer un projet</h2>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-columns">
      <div class="left-column">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name" placeholder="Nom du projet" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Date de début</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Date de fin</mat-label>
          <input
            matInput
            [matDatepicker]="endPicker"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Description du projet"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="right-column">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Associer à une équipe (optionnel)</mat-label>
          <mat-select formControlName="teams" multiple>
            <mat-option *ngFor="let team of teams" [value]="team._id">{{
              team.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="helper-text">
          L'association d'une équipe à ce projet pourra être réalisée
          ultérieurement dans la rubrique modification d'un projet.
        </p>
      </div>
    </div>

    <div class="form-actions">
      <button mat-button type="button" (click)="onCancel()">ANNULER</button>
      <button mat-raised-button color="accent" type="submit">
        CRÉER LE PROJET
      </button>
    </div>
  </form>
</div>
