<div class="login-page">
  <div class="login-branding">
    <img src="assets/images/logos/staffme-logo.png" alt="Staffme Logo" class="logo">
  </div>
  <div class="login-container">
    <h1>Connexion</h1>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Adresse email</mat-label>
        <input matInput placeholder="Entrez votre email" [(ngModel)]="email" name="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Entrez votre mot de passe" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <div class="actions">
        <a href="#" class="forgot-password">Mot de passe oublié ?</a>
      </div>
      <button mat-raised-button color="primary" class="login-button" type="submit">VALIDER</button>
    </form>
    <div class="actions">
      <p class="no-account">Pas de compte ?  <a href="#" class="register-link">Inscrivez-vous</a></p>
    </div>
  </div>
</div>
