<mat-sidenav-container class="sidenav-container">
  <mat-sidenav color="primary" #sidenav mode="side" opened>
    <mat-toolbar>
      <img src="assets/images/logos/staffme_logo_01.png" alt="Logo" class="logo">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Tableau de bord</a>
      <a mat-list-item routerLink="/projects">Projets</a>
      <a mat-list-item routerLink="/teams">Équipes</a>
      <a mat-list-item routerLink="/collaborators">Collaborateurs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
