<div class="project-detail">
  <div class="project-header">
    <div class="project-info">
      <div class="title-and-collaborators">
        <h1>{{ project.name }}</h1>
        <span class="collaborators-count">{{ getCollaboratorsText() }}</span>
      </div>
      <div class="project-dates">
        Du {{ project.startDate | date : "dd MMMM yyyy" }} au
        {{ project.endDate | date : "dd MMMM yyyy" }}
      </div>
      <p class="project-description">{{ project.description }}</p>
    </div>
    <app-edit-button (buttonClick)="openEditProjectDialog()"></app-edit-button>
  </div>
</div>
