<div class="dashboard-container">
  <div class="dashboard-row">
    <mat-card class="dashboard-card full-width no-padding">
      <mat-card-title class="d-flex align-items-center">
        <mat-icon>cached</mat-icon>
        <span>Projets en cours</span>
        <div class="full-width-hr">
          <hr />
        </div>
      </mat-card-title>
      <mat-card-content class="no-padding">
        <app-paginated-sortable-table
          [displayedColumns]="displayedProjectColumns"
          [dataSource]="projects"
          [columnLabels]="translatedProjectColumns"
          itemType="project"
          [pageSize]="3"
          (rowAction)="handleProjectRowAction($event)"
        ></app-paginated-sortable-table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="dashboard-row">
    <mat-card class="dashboard-card one-third-width no-padding">
      <mat-card-title class="d-flex align-items-center">
        <mat-icon>groups</mat-icon>
        <span>Équipes</span>
        <div class="full-width-hr">
          <hr />
        </div>
      </mat-card-title>
      <mat-card-content class="no-padding">
        <app-paginated-sortable-table
          [displayedColumns]="displayedTeamColumns"
          [dataSource]="teamsDataSource"
          [columnLabels]="translatedTeamColumns"
          itemType="team"
          (rowAction)="handleTeamRowAction($event)"
        ></app-paginated-sortable-table>
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card two-thirds-width">
      <mat-card-title class="d-flex align-items-center">
        <mat-icon>bar_chart</mat-icon>
        <span>Statistiques</span>
        <div class="full-width-hr">
          <hr />
        </div>
      </mat-card-title>
      <mat-card-content>
        <!-- Statistiques Content -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
