.user-list {
    padding: 20px;
}

    button[mat-raised-button] {
      margin-bottom: 20px;
    }

  tr:nth-child(even) {
    background-color: #2A9D8F1F;
  }

  tr:nth-child(odd){
    background-color: white;
  }

  .container {
    width: 95%;
    margin: 35px auto;
  }
  
  .top-bar {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px; 
  }
  
  .top-bar app-search-input {
    flex: 1; 
  }
  
  .top-bar app-add-button {
    margin-left: 20px; 
  }