@use '@angular/material' as mat;
@include mat.core();

$black: #000000;
$white: #ffffff;
$light-grey: #e0e7ea;
$custom-primary: #264653; 
$custom-accent: #2A9D8F; 
$custom-warn: #E76F51; 
$custom-secondary: #E9C46A;

$custom-brand-primary: (
  50:  #E6EEF1, 
  100: #C0D6DE, 
  200: #97BBC8, 
  300: #6F9FB3, 
  400: #507E9A, 
  500: $custom-primary, // Couleur originale
  600: #213D4A, 
  700: #1D3340, 
  800: #192937, 
  900: #141F2D, 
  contrast: (
    50: $black, 
    100: $black, 
    200: $black, 
    300: $white, 
    400: $white, 
    500: $white, 
    600: $white, 
    700: $white, 
    800: $white, 
    900: $white
  )
);

$custom-brand-accent: (
  50:  #E6F0EE, 
  100: #C0DAD6, 
  200: #99C3BF, 
  300: #71ACAA, 
  400: #53929A, 
  500: $custom-accent, // Couleur originale
  600: #259085, 
  700: #1F7A7A, 
  800: #1A6F70, 
  900: #14605F, 
  contrast: (
    50: $black, 
    100: $black, 
    200: $black, 
    300: $black, 
    400: $black, 
    500: $white, 
    600: $white, 
    700: $white, 
    800: $white, 
    900: $white
  )
);

$custom-brand-secondary: (
    50:  #F4F0E9, 
    100: #EDE0C8, 
    200: #E5C7A2, 
    300: #DFAE7C, 
    400: #D99D5F, 
    500: $custom-secondary, // Couleur originale
    600: #D18D4F, 
    700: #B87445, 
    800: #9F5A3B, 
    900: #83482F, 
    contrast: (
      50: $black, 
      100: $black, 
      200: $black, 
      300: $black, 
      400: $black, 
      500: $white, 
      600: $white, 
      700: $white, 
      800: $white, 
      900: $white
    )  
);

$custom-brand-warn: (
    50:  #FBE9E5, 
    100: #F7C9B9, 
    200: #F29A7D, 
    300: #ED6A41, 
    400: #EA4520, 
    500: $custom-warn, // Couleur originale
    600: #E61D00, 
    700: #D41A00, 
    800: #C21800, 
    900: #A91500, 
    contrast: (
        50: $black, 
        100: $black, 
        200: $black, 
        300: $white, 
        400: $white, 
        500: $white, 
        600: $white, 
        700: $white, 
        800: $white, 
        900: $white
    )
);

$custom-primary: mat.define-palette($custom-brand-primary);
$custom-accent: mat.define-palette($custom-brand-accent);
$custom-warn: mat.define-palette($custom-brand-warn);
$custom-secondary: mat.define-palette($custom-brand-secondary);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$projet-staffme-front-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
    secondary: $custom-secondary
  ),
  typography: mat.define-typography-config()
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($projet-staffme-front-theme);

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
html, body { height: 100%; background-color: $light-grey; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
