.container {
  width: 95%;
  margin: 35px auto;
}

.top-bar {
  display: flex; 
  justify-content: space-between;
  margin-bottom: 10px; 
}

.top-bar app-search-input {
  flex: 1; 
}

.top-bar app-add-button {
  margin-left: 20px; 
}