@use '../../../../styles.scss' as colors;

.container {
    border-radius: 8px;
    padding: 0 30px 20px 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .full-width {
    width: 100%;
  }

  .dialog-actions-centered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    button {
      margin: 0 10px;
      text-transform: uppercase;
    }

    .validate-button {
        background-color: colors.$accent-color;
        color: colors.$white;
    }
  }