<div class="register-page">
  <div class="register-branding">
    <img
      src="assets/images/logos/staffme-logo.png"
      alt="Staffme Logo"
      class="logo"
    />
  </div>
  <div class="register-container">
    <h1>Inscription</h1>
    <form
      [formGroup]="registerForm"
      class="register-form"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input
          matInput
          placeholder="Entrez votre nom"
          formControlName="lastname"
          required
        />
        <mat-error  *ngIf="registerForm.get('lastname')?.errors?.['required']">
          Le nom est obligatoire.
        </mat-error>
        <mat-error *ngIf="registerForm.get('lastname')?.errors?.['minlength']">
          Le nom doit contenir au moins 2 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input
          matInput
          placeholder="Entrez votre prénom"
          formControlName="firstname"
          required
        />
        <mat-error  *ngIf="registerForm.get('firstname')?.errors?.['required']">
          Le prénom est obligatoire.
        </mat-error>
        <mat-error *ngIf="registerForm.get('firstname')?.errors?.['minlength']">
          Le prénom doit contenir au moins 2 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Adresse email</mat-label>
        <input
          matInput
          placeholder="Entrez votre email"
          formControlName="email"
          required
        />
        <mat-error  *ngIf="registerForm.get('email')?.errors?.['required']">
          L'email est obligatoire.
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
          L'email n'est pas valide.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          placeholder="Entrez votre mot de passe"
          formControlName="password"
          required
        />
        <mat-error  *ngIf="registerForm.get('password')?.errors?.['required']">
          Le mot de passe est obligatoire.
        </mat-error>
        <mat-error  *ngIf="registerForm.get('password')?.hasError('pattern')">
          Le mot de passe doit contenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirmation de mot de passe</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirmez votre mot de passe"
          formControlName="confirmPassword"
          required
          (keyup)="passwordsMatch();"
        />
        <mat-error *ngIf="registerForm.get('confirmPassword')?.touched && !passwordsMatch()">
          Les mots de passe ne correspondent pas.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        class="register-button"
        type="submit"
        [disabled]="!registerForm.valid || !passwordsMatch()"
      >
        VALIDER
      </button>
    </form>
    <p class="go-back-text">
      Retour à la <a href="/login" class="go-back-link">page de connexion</a>
    </p>
  </div>
</div>
