$login-background-color: #264653;
$login-link-color: #2a9d8f;

.register-page {
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  align-items: center;
  background-color: $login-background-color;
}

.register-branding {
  background-color: $login-background-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.logo {
  max-width: 150px;  
}

.register-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.register-form {
  width: 100%;
  max-width: 300px; 
  padding: 20px;
  box-shadow: none;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.register-button {
  width: 100%;
  color: white;
  height: 48px;
  margin-top: 10px;
}

.actions {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.go-back-text, .go-back-link {
  font-size: small;
}

.go-back-text {
  color: white;
}

.go-back-link {
  color: $login-link-color;
  cursor: pointer;
}

@media (min-width: 768px) {  /* Styles pour les écrans plus larges */
  .register-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: white;
  }
  
  .register-branding {
    background-color: $login-background-color;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    max-width: 500px;
  }
  
  .register-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
  }
  
  h1 {
    color: black;
    margin-bottom: 20px;
  }
  
  .register-form {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 18px;
  }
  
  .register-button {
    width: 100%; 
    color: white;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 320px;
    align-items: center;
  }

  .go-back-text, .go-back-link {
    font-size: small;
  }

  .go-back-text {
    color: black;
  }
  
  .go-back-link {
    color: $login-link-color;
    cursor: pointer;
  }

  mat-error {
    font-size: x-small;
  }
}
